<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900" rel="stylesheet">
   

    <title>Ajouter une recette</title>
  </head>
  <body class="p-5">
    <nav class="navbar navbar-default navbar-fixed-top">
    
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/logout">se deconnecter</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

        <div class="page-header text-center welcome">
          <h1>Ajouter une recette</h1>
        </div>

        <div class="admin">
          <form method="post" action="">
          
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="form-group">
            <label for="cuisne">recette</label>
            <textarea type="text" name="cuisine" id="cuisine" class="form-control">Veuillez entrez la recette</textarea>
          </div>
          <div class="form-group">
            <input type="file" class="form-control" id="image" name="image">
          </div>

            <button type="submit" class="btn btn-success">Ajouter</button>
            <a href="/recettes" class="btn btn-primary"> Retour</a>
        </form>
        </div>

        
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  </body>
</html>